@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  --primary-color: #10b96a;
  --off-white: #6e6e6e;
  --dark-gray: #6B7280;
  --gray: #F3F4F6;
 
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: #F3F4F6;
  background-color: #1f1f1f;
}
button{
background-color: #10b96a;
border-radius: 0.6rem;
padding: 1rem;
margin: 0rem;
margin-top: 2rem;
}
input{
  background-color: #52525281;
  border-radius: 0.6rem;
  padding: 1rem;
  

}

.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 550px;
  margin: auto;
}

/* section */
.section {
  padding: 0rem 1.5rem;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-heading {
  color: var(--dark-green);
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
}

